@model OnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "PersonelGetir";
}
<br />
<h1>Personel Güncelleme Sayfası</h1>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Ad: @ViewBag.per</li>
</ol>

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.PersonelID)
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.PersonelGorsel)
        @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)
       ViewBag.dp, new { @class = "form-control" })

        <button class="btn btn-warning">Kaydet</button>

        <br />
    </div>
}



